body {
	background-color: black;
	color: #919191;
}

.link {
	margin-top: 15%;
    margin-right: 40%;
    margin-left: 40%;
	text-align: center;
	color: #919191;
	font: 18px arial, sans-serif;
	padding-top: 10px;
}

.button {
	height: 50px;
	margin-top: 10%;
    margin-right: 40%;
    margin-left: 40%;
	text-align: center;
	border: 5px solid #919191;
	background-color: black;
	color: #919191;
	font: 30px arial, sans-serif;
	padding-top: 10px;
}
