.P43{
	color: #000000;
}

.P44{
	color: #ff0000;
}

.P45{
	color: #808000;
}

.P46{
	color: #0080ff;
}

.P47{
	color: #00ff00;
}

.P48{
	color: #55ddc1;
}

.P49{
	color: #e2db50;
}

.P50{
	color: #800080;
}

.P51{
	color: #ff8000;
}

.P52{
 	color: #ff0080;
}

.P53{
 	color: #008080;
}